html {
    box-sizing: border-box;
  }
  
  *,
 ::after,
 ::before {
    box-sizing: inherit;
  }
.body {
 margin-left: 100px; 
 color: grey; 
 font-family: 'Lato', sans-serif;
 max-width: 600px;
 margin: 0 auto;
 padding: 30px;
 background-image: url("../images/money-1.jpg");
} 
.form__field { 
  border: 2px solid #d8c5c5;
  border-radius: 15px;
  padding: 5px;
}
.from__fieldset{ 
  border: 3px solid rgb(80, 184, 20);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(242 239 219);
}
.form__select { 
  border: 2px solid #d8c5c5;
  border-radius: 15px;
  padding: 5px;
}
.form__header{ 
  background-color: rgb(135, 138, 138);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.form__label {
  width: 150px;
  display: inline-block;
   margin-right: 5px;
}
.form__button {
  width: 50%;
  background-color: rgb(242 239 219); 
  border: solid rgb(80, 184, 20);
  color: black; 
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.form__button--reset {
  border-radius: 10px;
}

.container {
  margin: auto;
 
}
.result { 
border-bottom: solid 2px;
color: rgb(80, 184, 20);
}